{% extends 'base.html' %}
{% block content %}
<div class="message-box">
  <h2>Chat Room: {{ code }}</h2>
  <div class="messages" id="messages"></div>
  <div class="inputs">
    <input
      type="text"
      rows="3"
      placeholder="Message"
      name="message"
      id="message"
    />
    <button type="button" name="send" id="send-btn">Send</button>
  </div>
  <div class="truffles">
    <a
      href="{{ url_for('viewTruffles', user_id=user_id) }}"
      class="btn btn-primary"
      >View Truffles</a
    >
  </div>
</div>
<script type="text/javascript">
  var socketio = io();
  const messages = document.getElementById("messages");

  // Function to create message HTML content
  const createMessage = (name, msg, timestamp) => {
    const content = `
    <div class="text" style="color: green;">
        <span>
            <button class="delete-btn" onclick="deleteMessage('${msg}')">x</button><strong>${name}</strong>: ${msg} 
        </span>
        <span class="muted">
            ${timestamp}
        </span>
    </div>
    `;
    messages.innerHTML += content;
  };

  // Fetch initial messages when the page loads
  const fetchMessages = () => {
    fetch(`/get_messages/{{ code }}`)
      .then((response) => response.json())
      .then((data) => {
        data.messages.forEach((message) => {
          createMessage(message.sender, message.body, message.timestamp);
        });
      });
  };
  fetchMessages();

  // Function to handle incoming messages from the server
  socketio.on("message", (data) => {
    createMessage(data.name, data.message, new Date().toLocaleString());
  });

  // Function to send a message to the server
  const sendMessage = () => {
    const messageInput = document.getElementById("message");
    const message = messageInput.value.trim();
    if (message === "") return;

    socketio.emit("message", { message: message });
    messageInput.value = "";
  };

  // Event listener for the send button
  document.getElementById("send-btn").addEventListener("click", sendMessage);
</script>
{% endblock %}