{% extends 'base.html' %} 
{% block content %}
<div class="message-box">
  <h2>Chat Room: {{ code }}</h2>
  <div class="messages" id="messages"></div>
  <div class="inputs">
    <input
      type="text"
      rows="3"
      placeholder="Message"
      name="message"
      id="message"
    />
    <button type="button" name="send" id="send-btn">
      Send
    </button>
  </div>
  <div class = "truffles">
    <a href="{{ url_for('viewTruffles', user_id=user_id) }}" class="btn btn-primary">View Truffles</a>
  </div>

</div>
<script type="text/javascript">
  var socketio = io();
  const messages = document.getElementById("messages");

  const createMessage = (name, msg) => {
    const content = `
    <div class="text">
        <span>
            <strong>${name}</strong>: ${msg}
        </span>
        <span class="muted">
            ${new Date().toLocaleString()}
        </span>
    </div>
    `;
    messages.innerHTML += content;
  };

  socketio.on("connect", () => {
    console.log("Connected to server");
  });

  socketio.on("disconnect", () => {
    console.log("Disconnected from server");
  });

  socketio.on("message", (data) => {
    createMessage(data.name, data.message);
  });

  const sendMessage = () => {
    const messageInput = document.getElementById("message");
    const message = messageInput.value.trim();
    if (message === "") return;

    socketio.emit("message", { message: message });
    messageInput.value = "";
  };

  document.getElementById("send-btn").addEventListener("click", sendMessage);
</script>
{% endblock %}
